* {
  box-sizing: border-box;
  font-family: 'Pretendard', 'sans-serif' !important;
}

html,
body {
  overscroll-behavior: none;
  height: 100%;
  font-family: 'Pretendard', 'sans-serif';
  font-size: 10px;
  // font-size: clamp(5px, 0.521vw, 10px);
  -webkit-tap-highlight-color: transparent !important;
}

.hidden {
  display: none !important;
}

.wrapper {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  height: 100%;
  @include flex(column, flex-start, center);
  > * {
    width: 100%;
  }
}

main {
  flex: 1;
}

.strong {
  font-weight: 700;
}

img {
  display: block;
}

.scroll-lock {
  overflow: hidden !important;
}
