@charset "UTF-8";

.header-container {
  .logo-box {
    .logo-link {
      font-family: "Mona Sans" !important;
      font-weight: 600;
      font-size: 3.2rem;
      letter-spacing: -0.15rem;
    }
  }
}
